.scene {
    height: 100vh;
    width: 100vw; 
}

.sky, .ground {
    width: 100%;
}
.sky {
    background-color: skyblue;
    height: 75vh;
}

.dark .sky {
    background-color: #070058;
}

.dark .ground {
    background-color: #002800;
}

.ground {
    background-color: green;
    height: 25vh;
    z-index: 2;
}

.sun {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

body {
    padding: 0;
    margin: 0;
}